{% extends "base.html" %}
{% block title %} 포스트 상세보기 {% endblock %}
{% block content%}

<div id="content"> 


<h2>{{ object.title }}</h2>

<!-- previous or next post link -->
<p class="other_posts">
    <a href="{{ object.get_previous_post.get_absolute_url }}">
        {{ object.get_previous_post }}
    </a>
    |
    <a href="{{ object.get_next_post.get_absolute_url }}">
        {{ object.get_next_post }}
    </a>
</p>

<!-- date -->
<p class="date">
    {{ object.modify_date|date:"j F Y" }}
</p>
<br/>
<!-- post content -->
<div class="body">
    {{ object.content|linebreaks }}
</div>




{% endblock %}
