{% extends "base.html" %}

{% block title %}Bookmark 생성 Page {% endblock %}

{% load staticfiles %} 
{% block extrastyle %} {% static "css/form.css"%}  {% endblock%}

{% block content %}
<div id ="content"> 
    <h1>Bookmakr Create/Update - {{user}}  </h1> 
    <form action="." method="post"> 
        {% csrf_token %}

        {% if form.errors%}
            {{form.errors}}
        {% endif %}


        <p>등록(수정)하고 싶은 bookmark add</p> 
        <fieldset class ="aligned"> 
            <div class="form-row"> 
                {{form.title.label_tag}} {{form.title}}
            </div>

            <div class="form-row"> 
                {{form.url_category.label_tag}} {{form.url_category}}
            </div>


            <div class="form-row"> 
                {{form.url.label_tag}} {{form.url}}

            </div>


        </fieldset>





        <div class="submit-row"> 
            <input type="submit" value='submit'/> 
        


    </form> 

</div> 

{% endblock %}